{% extends "base.html" %}

{% block page_content %}

<div class="container grid gap-3">
    <!-- Content here -->
    <div class="container text-center">
        <div style="margin-top: 5rem; margin-bottom: 5rem;">
            <h1 class="text-primary">Vote for your favourite cat!</h1>
        </div>

    {% if cat_list %}    
    <div class="row">
        {% for cat in cat_list %}
        <div class="col">
          <div class="card p-2 g-col-6 m-2" style="width: 18rem;">
              <img src="{{ cat.upload.url }}" class="card-img-top" alt="...">
              <div class="card-body">
              <h5 class="card-title">{{ cat.name }}</h5>
              <p class="card-text">This cutie is a very {{ cat.get_size_display }} cat!</p>
              <a href="{% url 'vote' cat.id %}" class="btn btn-primary">Vote!</a>
              </div>
          </div>
        </div>
    {% endfor %}
    {% else %}
        <p>No cats are available.</p>
    {% endif %}
        
      </div>

  </div>



{% endblock %}

